.container {
    display: flex;
    justify-content: space-evenly;
}

#input {
    width: 200px;
    height: 200px;
    border: 1px solid #6897BB;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
}

#result {
    width: 50%;
}

.result_item {
    border: 1px solid #6897BB;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.result_item:last-child {
    margin-bottom: 0;
}

.item_img {
    width: 100%;
    margin-bottom: 20px;
}

.item_group {
    display: flex;
    align-items: flex-start;
}

.group_text {
    text-align: left;
    word-break: break-all;
    width: 1px;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding-right: 25px;
}

.group_images {
    display: flex;
}

.images_expand {
    height: 25px;
    transition: transform 0.1s;
}

.images_copy {
    margin-left: 10px;
}
