.dark {
    color: #2b2b2b;
}

.purple {
    color: #9876AA;
}

.light-yellow {
    color: #FFC66D;
}

.orange {
    color: #CC7832;
}

.yellow {
    color: #BBB529;
}

.blue {
    color: #6897BB;
}

.green {
    color: #6A8759;
}
